body {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #008B8B;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img, embed, object, video {
  max-width: 100%;
  height: auto;
}

.App {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.todo {
  width: 80%;
  max-width: 12em;
  background-color: #eee;
  margin: 0;
  padding: 0.9375em;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.todo-item {
  list-style: none;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

input::-webkit-input-placeholder {
  color: #000;
}

input::-moz-placeholder {
  color: #000;
}